<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="RPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.statics.vo.GrupoUsuarios</class>
    <class>com.statics.vo.Estaciones</class>
    <class>com.statics.vo.Usuariorol</class>
    <class>com.statics.vo.Grupo</class>
    <class>com.statics.vo.Estados</class>
    <class>com.statics.vo.Datos</class>
    <class>com.statics.vo.TipoEstado</class>
    <class>com.statics.vo.ParametroLabels</class>
    <class>com.statics.vo.Rolfuncionalidad</class>
    <class>com.statics.vo.Parametros</class>
    <class>com.statics.vo.Campanas</class>
    <class>com.statics.vo.PuntoMuestral</class>
    <class>com.statics.vo.CargaParametro</class>
    <class>com.statics.vo.Graficas</class>
    <class>com.statics.vo.Usuarios</class>
    <class>com.statics.vo.Cargas</class>
    <class>com.statics.vo.Formatofechas</class>
    <class>com.statics.vo.Roles</class>
    <class>com.statics.vo.Funcionalidades</class>
    <class>com.statics.vo.CargaErrores</class>
    <class>com.statics.vo.Separadores</class>
    <class>com.statics.vo.ParametrizacionApp</class>
    <class>com.statics.vo.Cliente</class>
    <class>com.statics.vo.ClimaPM</class>
    <class>com.statics.vo.CriterioMicrolocalizacion</class>
    <class>com.statics.vo.CriterioPM</class>
    <class>com.statics.vo.DatosAdcionalesPM</class>
    <class>com.statics.vo.DatosAdicionalesMicrolocalizacion</class>
    <class>com.statics.vo.Departamento</class>
    <class>com.statics.vo.EmisionDominantePM</class>
    <class>com.statics.vo.FotoPM</class>
    <class>com.statics.vo.ItemLogistica</class>
    <class>com.statics.vo.ItemPM</class>
    <class>com.statics.vo.LogisticaPM</class>
    <class>com.statics.vo.MacrolocalizacionPM</class>
    <class>com.statics.vo.MicrolocalizacionPM</class>
    <class>com.statics.vo.Municipio</class>
    <class>com.statics.vo.TiempoPM</class>
    <class>com.statics.vo.TipoAreaPM</class>
    <class>com.statics.vo.UbicacionPM</class>
    <class>com.statics.vo.MicrolocalizacionPm</class>
    <class>com.statics.vo.Ruta</class>
    <class>com.statics.vo.CriterioPm</class>
    <class>com.statics.vo.ItemPm</class>
    <class>com.statics.vo.MacrolocalizacionPm</class>
    <class>com.statics.vo.TiempoPm</class>
    <class>com.statics.vo.EmisionDominantePm</class>
    <class>com.statics.vo.FotoPuntomuestral</class>
    <class>com.statics.vo.UbicacionPm</class>
    <class>com.statics.vo.LogisticaPm</class>
    <class>com.statics.vo.TipoAreaPm</class>
    <class>com.statics.vo.DatosAdicionalesPm</class>
    <class>com.statics.vo.DatosadicionalesMicrolocalizacion</class>
    <class>com.statics.vo.ClimaPm</class>
    <class>com.statics.vo.Products</class>
    <class>com.statics.vo.ParametroFactorconversion</class>
    <class>com.statics.vo.Pais</class>
    <class>com.statics.vo.NivelMaximo</class>
    <class>com.statics.vo.UnidadTiempo</class>
    <class>com.statics.vo.DatoProcesado</class>
    <class>com.statics.vo.CaerCampos</class>
    <class>com.statics.vo.FactorConversion</class>
    <class>com.statics.vo.UnidadMedida</class>
    <class>com.statics.vo.UnidadmedidaParametro</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
     <!--
        <property name="javax.persistence.jdbc.url" value="jdbc:mysql://186.31.80.115/rstatics?zeroDateTimeBehavior=convertToNull"/> 
     -->
     <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/rstatics?zeroDateTimeBehavior=convertToNull"/> 
      
            <!--<property name="javax.persistence.jdbc.user" value="graphics"/>-->
    
            <property name="javax.persistence.jdbc.user" value="root"/>
            
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <!--
-->            
      <!--<property name="javax.persistence.jdbc.password" value="gr4ph1cs"/>
      -->
            <property name="javax.persistence.jdbc.password" value=""/>
      <property name="eclipselink.query-results-cache" value="false"/>
      <property name="eclipselink.refresh" value="true"/>
    </properties>
  </persistence-unit>
</persistence>
